body {
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: none;
  }

  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active),
  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) > .v-icon,
  .theme--light.v-tabs > .v-tabs-bar .v-tab--disabled {
    color: rgba(0, 0, 0, 0.6);
  }
}
